<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Comandos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Comandos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button expand="block"><ion-icon name="camera"></ion-icon>Câmera</ion-button>



  <ion-button expand="block"><ion-icon name="flashlight"></ion-icon>Câmera e lanterna</ion-button>



  <ion-button expand="block"><ion-icon name="qr-code"></ion-icon>QR Code</ion-button>



  <ion-button expand="block"><ion-icon name="archive"></ion-icon>Gravar SQLite</ion-button>



  <ion-button expand="block"><ion-icon name="notifications"></ion-icon>Push</ion-button>

</ion-content>
